/* ****** commons ****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    margin: 20px auto;
}

.mb_30{
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float_left{
    float: left;
}

/* ****** proprietà header ****** */

/* proprietà header top con il logo e i links */

.container_img{
    width: 160px;
    height: 60px;
    border-right: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.container_img > img{
    height: 60px;
}

/* proprietà header top lista links */
.header_links li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 15px;
}

.header_links a{
    text-decoration: none;
    color: #868686;
}

/* proprietà header bottom jumbotron */

.layover{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(46, 49, 49, 0.4);
}

.jumbotron{
    height: 500px;
    border-radius: 20px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
}

.text_jumbotron{
    width: 40%;
    padding-top: 320px;
    padding-left: 50px;
    color: #fcf9f8;
}

/* ****** proprietà main ****** */

.left_side{
    width: 20%;
}

.main_content{
    width: calc( 60% - 40px );
    margin: 0 20px;
}

.right_side{
    width: 20%;
}

main h3{
    margin: 20px 0 10px 0;
}

/* proprietà immagini della main */

.main_img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.img_left{
    background-image: url('../img/img-1.jpg');
}

/* proprietà footer */

footer{
    height: 50px;
    margin-top: 10px;
}


/* **********debug********** */

.header_top.debug{
    height: 80px;
    background-color: #e579e6;
}

.jumbotron.debug{
    background-color: #e1d67a;
}

main.debug{
   height: 600px;
   background-color: #0882ff; 
}

.main_top.debug{
    height: 80px;
    background-color: #abcfe7;
}

.left_side.debug,
.main_content.debug,
.right_side.debug{
    height: 480px;
    background-color: #abcfe7;
}

footer.debug{
    background-color: #8801fe;
}




